/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
Colors used

Text Color (Dark Gray): #2b2b2b;
Primary Color (Purple): #357b70;
Secondary Color (Orange): #e0b354;
 */

a {
	color: #357b70;
}

body {

	font-weight: 400;
	font-size: 16px;
}

h1 {
	font-size: 30px;
	font-weight: 700;
}

 body {
 	font-family: 'Lato' , sans-serif;
 	font-weight: 400;
 	font-size: 16px;
 	/* Sets the font size to 16px */
   /* Sets the line height 1.6 */
 }

 h1 {
 	font-size: 30px;
 	font-weight: 700;
 	line-height: 1.6;
 }

 h2 {
 	font-size: 24px;
 	font-weight: 700;
 	line-height: 1.6;
 }

 h3 {
 	font-size: 18px;
 	font-weight: 700;
 	line-height: 1.6;
 }

 a {
 	color: #357b70;
 }

 a:visited {
 	/* visited link */
 	color: #05676e;
 }

a:hover, a:focus {
 	/* No underlining when hovering over a link */
 	text-decoration: none;
 }

 a:active {
 	/* selected link */
 	color: #489c79;
 }

button {
	/* overwrites browser defaults and resets the border */
	border: none;
	/* takes the font from the outer container */
	font-family: inherit;
	/* styles the background color, font color, and text decoration (underline, etc.) of the button */
background-color: #357b70;
color: white;
text-decoration: none;
/* adds spacing to the button (this will be discussed more in depth later)*/
padding: 10px;
border-radius: 3px;
/* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

button:hover, button:focus {
	/* lets the mouse appear as a hand when hovering over the button */
	cursor: pointer;
	/* reduces the opacity of the button to 80% */
opacity: 0.8;
}

.button_secondary{
	background-color: #e0b354;
	color: #2b2b2b;
}

.navigation-list {
	list-style-type: none;
}

.navigation-list li{
 display: inline-block;
 margin-left: 15px;
}

.navigation-list__item--active {
	text-decoration: none;
}

.profile__portrait {
	float: left;
	width: 250px;
	margin-right: 40px;
	height: auto;
	border-radius: 50%;
}

.page-footer {
	clear: both;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	text-align: center;
}

.profile {
	max-width: 700px;
	margin: 0 auto;
}

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.page-header{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	padding: 20px;
}

.page-header__item:{
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 200px;
	        flex: 0 1 200px;
}

.page-header__item:last-child {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
    text-align: right;
}

.grid__item {
	background-color: lightgray;
}

.grid {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 300px 300px 300px;
	grid-template-columns: 300px 300px 300px;
}

.grid {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 20px 1fr 20px 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
}

.grid__item:last-child {
	-ms-grid-column: 3;
	grid-column: 3 /3;
	-ms-grid-row: 1;
	-ms-grid-row-span: 2;
	grid-row: 1 / 3;
}

@media all and (max-width: 500px) {
	.grid{
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}
}

@media all and (min-width: 500px) and (max-width: 750px){
	.grid {
		-ms-grid-columns: 1fr 20px 1fr;
		grid-template-columns: 1fr 1fr;
      }
  }

  @media all and (max-width: 750px) {
  	.grid {
  		grid-gap: 10px;
  	}
  	.grid__item:last-child {
  		grid-column: auto / auto;
  		grid-row: auto / auto;
  	}
  	h1 {
  		font-size: 22px;
  	}
  
	.grid__item:last-child {
		grid-column: auto / auto;
		grid-auto-rows: auto / auto; 
	}
	h1 {
		font-size: 22px;
	}
}

button,
.button1,
.button2,
.button3,
.my-input {

}

button,
.button {

}

 button:hover,
 button: focus,
 .button:hover,
 .button:focus {

 }

.button, button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the button */
  background-color: #357b70;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

@-webkit-keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
  	fill: #f76414;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
  	fill: #f76414;
  }
}
.sun {
  -webkit-animation: 4s color-change infinite alternate linear;
          animation: 4s color-change infinite alternate linear;
}

@-webkit-keyframes cloud-move {
	from {
		-webkit-transform: translate(0, 50px);
		        transform: translate(0, 50px);
	}
	to {
		-webkit-transform: translate(200px, 50px);
		        transform: translate(200px, 50px);
	}
}

@keyframes cloud-move {
	from {
		-webkit-transform: translate(0, 50px);
		        transform: translate(0, 50px);
	}
	to {
		-webkit-transform: translate(200px, 50px);
		        transform: translate(200px, 50px);
	}
}

.cloud-front {
	-webkit-animation-duration: 30s;
	        animation-duration: 30s;
	-webkit-animation-name: cloud-move;
	        animation-name: cloud-move;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	        animation-direction: alternate;
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
}



@-webkit-keyframes cloud-move-reverse {
	from {
		-webkit-transform: translate(446px, 48px);
		        transform: translate(446px, 48px);
	}
	to {
		-webkit-transform: translate(100px, 48px);
		        transform: translate(100px, 48px);
	}
}



@keyframes cloud-move-reverse {
	from {
		-webkit-transform: translate(446px, 48px);
		        transform: translate(446px, 48px);
	}
	to {
		-webkit-transform: translate(100px, 48px);
		        transform: translate(100px, 48px);
	}
}

.cloud-front {
	-webkit-animation: 30s cloud-move infinite alternate linear;
	        animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
	-webkit-animation: 30s cloud-move-reverse infinite alternate linear;
	        animation: 30s cloud-move-reverse infinite alternate linear;
}

.body{
	text-align: center;
}

.list{
	list-style-type: none;
}

/*div {
	padding: 10px; /* Adds a 10px inner spacing to all sides*/
	/*margin: 10px; /* Adds a 10px outer spacing to all sides*/
	/*border: 1px solid black; /* Attributes describe: thickness, type, color*/
/*
/*.header_title{
	/* No spacing to top and bottom and auto-spacing to let and righ, which centers the container horizontally*/
	/*margin:0 auto*/