.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item--active {
  text-decoration: none;
}

.nav-link {
  color: #e4ded7 !important;
}
.nav-link:hover {
  color: white !important;
}

.btn:visited {
  color: rgba(255, 255, 255, 0.918);
}
.btn:hover {
  background-color: #977c60;
}

.main-container {
  margin-top: 20px;
}
.index-container {
  margin-top: 0;
  padding-top: 60px;
  padding-bottom: 100px;
  width: 100vw;
  background-color: #d7e3e4d6;
  display: flex;
}

.projects-container {
  margin-top: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100vw;
  background-color: #38596d;
  display: flex;
  color: #354f5aba;
}
.contact-container {
  margin-top: 0;
  padding-top: 50px;
  width: 100vw;
  background-color: #5346c5c5;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #5346c5c5;
}
.image {
  width: 450px;
  border-radius: 50% 50% 50% 50%;
  /* padding: 10px; */
  opacity: 0.5;
  transition-duration: 1s;
}
.image:hover {
  opacity: 1;
}

@media screen and (min-width: 850px) and (max-width: 1200px) {
  .image {
    width: 450px;
  }
}

.text-about {
  width: 360px;
  padding: 30px 10px 10px 10px;
  position: relative;
  width: 400px;
  height: 200px;
}

.btn-container {
  width: 320px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-left: 15px;
}

.index-btn {
  font-size: 12px;
  background-color: #5346c5c5;
}

/* Skills part */
.skills-part {
  margin: 0;
  width: 100vw;
  height: 800px;
  background-color: #5346c5c5;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 800px) {
  .skills-part {
    height: 600px;
  }
}
.skill-container {
  width: 60%;
}
@media screen and (max-width: 850px) {
  .skill-container {
    width: 90%;
  }
}
.skill-intro {
  padding: 0;
  width: 330px;
  color: #5a4835;
  margin-bottom: 20px;
}
@media screen and (min-width: 770px) {
  .skill-intro {
    margin-bottom: 50px;
  }
}
.skills-items {
  display: grid;
  grid-gap: 10px;
  margin-bottom: 20px;
  padding: 10px;
  width: 350px;
}
.skill-btns {
  background-color: #745c44;
  color: white;
  border-radius: 10px;
  border: 1px solid #745c44;
  text-align: center;
  display: inline-block;
  padding: 10px;
  transition-duration: 0.4s;
}
.skill-btns:hover {
  background-color: #977c60;
}
.techskill-btn {
  grid-column: 1 / span 2;
  grid-row: 1;
}
.softskill-btn {
  grid-column: 1 / span 2;
  grid-row: 2;
}
.tools-btn {
  grid-column: 3;
  grid-row: 1 / span 2;
}
.skills-box {
  width: 330px;
  height: 400px;
  background-color: #c9bfb5;
  box-shadow: 2px 2px 10px grey;
  border-radius: 15px;
}

@media screen and (min-width: 995px) {
  .skills-box {
    width: 550px;
  }
  .skill-header {
    margin-bottom: 40px;
  }
}

.skill-header {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 20px;
  color: #5a4835;
  font-weight: bold;
}
.skillRow {
  margin-bottom: 40px;
}
.skillsList {
  color: #5a4835;
  padding: 20px;
  justify-content: center;
  text-align: center;
}

/* Grid */
.grid {
  max-width: 100%;
  display: flex;
  margin: 20px auto;
  flex-wrap: wrap;
  justify-content: center;
}

.grid__item {
  background-color: #e6d6d1;
  border-radius: 30px;
  padding: 20px;
}

@media all and (max-width: 500px) {
  .grid__item {
    width: 300px;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid__item {
    width: 45%;
  }
}

@media all and (max-width: 750px) {
  .grid__item {
    width: 30%;
  }
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
  }
  @media all and (max-width: 500px) {
    .grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  @media all and (min-width: 500px) and (max-width: 780px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media all and (max-width: 780px) {
    .grid {
      grid-gap: 10px;
    }
  }
}
.grid__item {
  margin: 20px;
  width: auto;
}

.port-img {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.project-image {
  width: 300px;
  height: 170px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px grey;
}
.chat-image {
  height: 170px;
  width: 85px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px grey;
}
.contactform {
  padding: 0 40px 20px 20px;
}

.second-img {
  margin-top: 10px;
}

.btn-works {
  background-color: #3d4b44;
  color: white;
  margin-top: 30px;
  transition-duration: 0.4s;
}
.btn-works:hover {
  background-color: #616e68;
  color: white;
}

.project-title {
  color: white;
}

.contact-title {
  color: #386d67;
}

.project-name {
  color: #3d4b44;
  font-size: 22px;
  font-weight: bold;
}

.footer {
  color: #3d4b44;
  width: 100%;
  background-color: #c9bfb5;
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  bottom: 0;
  align-self: center;
}

.social-img {
  height: 40px;
  margin: 0 30px;
}
.social-media {
  padding-top: 10px;
  padding-bottom: 10px;
}
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
Colors used

Text Color (Dark Gray): #2b2b2b;
Primary Color (Purple): #357b70;
Secondary Color (Orange): #e0b354;
 */

a {
  color: #357b70;
}

body {
  font-weight: 400;
  font-size: 16px;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* Sets the font size to 16px */
  /* Sets the line height 1.6 */
}

h1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.6;
  font-family: "Times New Roman", Times, serif;
  position: absolute;
  top: -50px;
  left: 16px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.6;
  font-family: "Times New Roman", Times, serif;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.6;
  font-family: "Times New Roman", Times, serif;
}

a {
  color: #357b70;
}

a:visited {
  /* visited link */
  color: #05676e;
}

a:hover,
a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}

a:active {
  /* selected link */
  color: #489c79;
}

button {
  /* overwrites browser defaults and resets the border */
  border: none;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: #357b70;
  color: rgba(255, 255, 255, 0.651);
  text-decoration: none;
  /* adds spacing to the button (this will be discussed more in depth later)*/
  padding: 10px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

button:hover,
button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.button_secondary {
  background-color: #e0b354;
  color: #2b2b2b;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item--active {
  text-decoration: none;
  align-items: center;
}

.profile__portrait {
  width: 300px;
  margin-right: 40px;
  height: auto;
  border-radius: 90%;
  max-width: 100%;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mody {
  position: absolute;
  top: 100px;
  right: 0;
}
.germany {
  position: absolute;
  top: 650px;
  right: 0;
  height: 100px;
  left: 800px;
}

.grid__item {
  background-color: lightblue;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 300px 300px;
  grid-template-columns: 300px 300px 300px;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid__item:last-child {
  -ms-grid-column: 3;
  grid-column: 3 /3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-auto-rows: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

.button,
button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the button */
  background-color: #1ccf52ec;
  color: rgba(255, 255, 255, 0.918);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

@-webkit-keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}
.sun {
  -webkit-animation: 4s color-change infinite alternate linear;
  animation: 4s color-change infinite alternate linear;
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
  -webkit-animation-name: cloud-move;
  animation-name: cloud-move;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
    transform: translate(100px, 48px);
  }
}

body {
  background-color: #e4ded7;
}
.collapse {
  position: absolute;
  left: 50px;
  top: 10px;
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
    transform: translate(100px, 48px);
  }
}

.cloud-front {
  -webkit-animation: 30s cloud-move infinite alternate linear;
  animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  -webkit-animation: 30s cloud-move-reverse infinite alternate linear;
  animation: 30s cloud-move-reverse infinite alternate linear;
}

.body {
  position: relative;
  top: 50px;
  left: 16px;
  font-size: 18px;
  text-align: left;
}

.list {
  list-style-type: none;
}

/*div {
	padding: 10px; /* Adds a 10px inner spacing to all sides*/
/*margin: 10px; /* Adds a 10px outer spacing to all sides*/
/*border: 1px solid black; /* Attributes describe: thickness, type, color*/
/*
/*.header_title{
	/* No spacing to top and bottom and auto-spacing to let and righ, which centers the container horizontally*/
/*margin:0 auto*/
